/* Universal styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Styles for body */
body {
    background-color: #d9dcd6;
}

/* Styles for the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles for Header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styles for the "seo" span of the header */
header h1 .seo {
    color: #d9dcd6;
}

/* Styles for the Navbar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styles for List UL */
header nav ul {
    list-style-type: none;
}

/* Styles for list items in the UL */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styles for Links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Paragraph styles */
p {
    font-size: 16px;
}

/* Styles for Hero Image */
.hero {
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
}

/* Class which causes elements to float left */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class which causes elements to float right */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles for main  */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styling the sections found in the Main tag */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styles for images found within main */
.main-section img {
    max-height: 200px;
}

/* Styles for the headers of the sections in main */
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles for the aside benefits */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Styles for the benefits sections */
.benefits-section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Styles for the h2 within each benefits seciton of the aside */
.benefits-section h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styles for the images within the benefits section of the aside */
.benefits-section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


/* Footer styles */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styles for the footer bold text */
.footer b {
    font-size: 20px;
}